<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="all" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" media="all" type="text/css" href="web/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <title>Biking Through Stockholm - AGI18</title>
</head>

<body>
  <div id="app">
    <section id="slideshow">
      <div class="container">
        <div class="gametitle">
          BIKING
          <div>THROUGH</div>
          STOCKHOLM
        </div>
        <div class="outlined">
          An augmented virtuality experience aiming to gamify exercise
        </div>
      </div>
    </section>
    <div id="background">
      <section id="main-content">
        <div id="tabs">
          <div class="tabs-left">
            <div class="tabs" v-for="tab in tabs">
                <a :onclick="`scrollToElement('#${tab.id}')`">{{tab.label}}</a>
            </div>
          </div>
          <div class="tabs tabs-right">
              <a href="https://github.com/elBjarnacho/BikingThroughStockholm"><i class="fa fa-github" style="font-size: 22pt"></i></a>
          </div>
          <div class="dropdown">
              <button class="dropbtn" ><i class="fa fa-bars" style="font-size: 22pt"></i></button>
              <div class="dropdown-content">
                <a v-for="tab in tabs" :onclick="`scrollToElement('#${tab.id}')`">{{tab.label}}</a>
              </div>
            </div>
        </div>
        
        
        <div class="container">
          <!-- <img src="pics/menu.png" width="100%"> -->
          <!-- <div class="section-title">
              GOALS &amp MOTIVATION 
          </div> -->
          <div v-html="motivation" class="text-content"></div>

          <div class="centered">
            <img src="web/pics/video-player.png" width="400" height="300" />
            <!-- <iframe src="https://player.vimeo.com/video/299459802?autoplay=0&title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
          </div>
        </div>
      </section>
      <section id="technologies">
        <div class="container">
          <div class="section-title">
            TECHNOLOGIES USED
          </div>
          <div v-html="technologies" class="text-content"></div>
          <div class="div-2">
            <div>
                <img src="web/pics/unity-logo-white.png" />
            </div>
            <div>
                <img src="web/pics/oculus-logo-white.png" />
            </div>
            <div>
              <img src="web/pics/Kinect_logo.png" />
          </div>
          </div>
        </div>
      </section>
      <section id="challenges">
        <div class="container">
            <div class="section-title">
                CHALLENGES &amp OBSTACLES 
            </div>
            <div v-html="challenges" class="text-content">
        </div>
      </section>
      <section id="related-work">
        <div class="container">
          <div class="section-title">
              RELATED WORK
          </div>
          <div v-html="relatedWork" class="text-content">
        </div>
        </section>
      <section id="lessons">
        <div class="container">
          <div class="section-title">
              LESSONS LEARNED
          </div>
          <!-- <img src="pics/king5.png" alt="" width="20%" style="float:right"> -->
          <div v-html="lessons" class="text-content"></div>
        </div>
      </section>
      <section id="gallery">
        <div class="container">
          <div class="section-title">
            IMAGE GALLERY
          </div>
          <div id="myModal" class="modal">
            <span class="close">&times;</span> <!-- The Close Button -->
            <img class="modal-content" id="img01">
            <div id="caption"></div>
          </div>

          <div class="pictures">
            <!-- <div v-for="i in [1, 2, 3, 4, 5, 6, 7, 8]"> -->
            <div v-for="image in images">
              <img :src="`web/pics/${image.name}.jpg`" :alt="`${image.description}`" onclick="showImg(this)"> <!--:alt="`Picture ${i}`" -->
              <!-- <img src="web/pics/photo_icon.png" onclick="showImg(this)"> -->
            </div>
          </div>
        </div>
      </section>

      <section id="team">
        <div class="container">
          <div class="section-title">
            THE TEAM
          </div>

          <div class="team">
            <div class="user" v-for="user in users">
              <img :src="`web/pics/${user.pic}`" alt="" width="400" height="300">
              <div>
                {{ user.name }}
                <br>
                <a class="email" :href="`mailto:${user.email}`">{{ user.email }}</a>
                <a :href="`${user.linkedin}`" style="padding-left: 5pt"><i class="fab fa-linkedin-square w3-hover-opacity"></i></a>
                <p v-for="contribution in user.contributions" class="list">
                  {{contribution}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-padding-32">
      <div id="back-top">
        <a href="#top" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      </div>
      <div class="w3-section">
        <a class="icon" href="https://github.com/elBjarnacho/BikingThroughStockholm"><i class="fa fa-github w3-hover-opacity"></i></a>
      </div>
      <p>&copy; Biking through Stockholm 2018</p>
    </footer>

  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="web/script.js"></script>
</body>

</html>